package members

import (
	"lms/internal/models"
	"lms/internal/views/common"
)

templ StaffSearch(staff []models.Staff, data *models.SearchData) {
	<div>
		<h1>Staff Search</h1>
		<form
			role="search"
			method="GET"
			action="/staff/search"
		>
			<input name="q" type="search" placeholder="Search staff" value={ data.Term }/>
			<input type="submit" value="Search"/>
		</form>
		<div id="results">
			@StaffList(staff, data)
		</div>
		@common.Pagination(data)
	</div>
}
