package books

import (
	"lms/internal/models"
	"lms/internal/views/common"
)

templ BookSearch(books []models.Book, data *models.SearchData) {
	<div>
		<form
			role="search"
			method="GET"
			action="/books/search"
		>
			<input name="q" type="search" placeholder="Search"/>
			<input type="submit" value="Search"/>
		</form>
		<div id="results">
			@BookList(books, data)
		</div>
		@common.Pagination(data)
	</div>
}
