package authors

import (
	"lms/internal/models"
	"lms/internal/views/common"
)

templ AuthorsSearch(authors []models.Author, data *models.SearchData) {
	<div>
		<form
			role="search"
			method="GET"
			action="/authors/search"
		>
			<input name="q" type="search" placeholder="جستوجو"/>
			<input type="submit" value="جستوجو"/>
		</form>
		<div id="results">
			@AuthorList(authors, data)
		</div>
		@common.Pagination(data)
	</div>
}
