package members

import "lms/internal/models"
import "lms/internal/views/common"

templ MemberSearch(members []models.Member, data *models.SearchData) {
	<div>
		<form method="GET" action="/members/search" role="search">
			<input name="q" type="search" placeholder="Search"/>
			<input type="submit" value="Search"/>
		</form>
		<div id="results">
			@MemberList(members, data)
		</div>
		@common.Pagination(data)
	</div>
}
