package categories

import "lms/internal/models"
import "fmt"

templ CategoryDashboard(categories []models.Category) {
	<div>
		<section>
			<a role="button" href="/categories/add">
				دسته‌بندی جدید
			</a>
		</section>
		<section>
			<article>
				for _ , c := range categories {
					<p>
						<a href={ fmt.Sprintf("/categories/%s", c.Slug) }>
							{ c.Name }
						</a>
					</p>
					<hr/>
				}
			</article>
		</section>
	</div>
}
