body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl; /* for Persian */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl; /* for Persian */
    font-weight: 500; /* adjust weight if needed */
}
