package loans

import "lms/internal/models"
import "lms/internal/views/common"

templ LoanSearch(loans []models.Loan, data *models.SearchData) {
	<div>
		<form
			role="search"
			method="GET"
			action="/loans/search"
		>
			<input name="q" type="search" placeholder="جستوجو" value={ data.Term }/>
			<input type="submit" value="جستوجو"/>
		</form>
		<div id="results">
			@LoanList(loans, data)
		</div>
		@common.Pagination(data)
	</div>
}
