package loans 

import "lms/internal/models"
import "fmt"

templ LoanReturnForm(loan *models.Loan) {
	<div>
		<form
			method="POST"
			action={ fmt.Sprintf("/loans/%d/return", loan.ID) }
		>
			<div>
				<input
					id="returnDate"
					type="date"
					name="returnDate"
				/>
			</div>
			<button type="submit">Return</button>
		</form>
	</div>
}
