package views

templ Home() {
	<div>
		<h1>Welcome to the lms</h1>
		<ul>
			<li>
				<a href="/books">Book managment </a>
			</li>
			<li>
				<a href="/members">Member managment </a>
			</li>
			<li>
				<a href="/loans">Loan managment </a>
			</li>
		</ul>
	</div>
}
