package views

templ Home() {
	<h1>Welcome to the lms</h1>
	<div class="grid">
		<a href="/books">Book managment </a>
		<a href="/members">Member managment </a>
		<a href="/loans">Loan managment </a>
	</div>
}
