package views

templ Layout(title string) {
	<html>
		<head>
			<title>{ title }</title>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
			<link
				rel="stylesheet"
				href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
			/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
